/* .App {
    background-image: url('https://wallpaperaccess.com/full/124378.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
   */

   /* html, body {
    height: 100%;
    width: 100%;
  } */
  
  /* .App {
    background-image: url('https://w0.peakpx.com/wallpaper/316/433/HD-wallpaper-books-library-shelves-lighting-thumbnail.jpg');
     background-repeat: no-repeat; 
    background-size: contain;
    height: 100vh; 
  } */


   /* .App {
    background-image: url('https://wallpaperaccess.com/full/124378.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  } */
  